In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/full_data.csv", index_col=0)
df

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED
...,...,...,...,...,...,...,...,...,...,...
100794,2014,12,Homicide,0,M,36.0,Black,100,Home,HS/GED
100795,2014,12,Homicide,0,M,19.0,Black,100,Street,HS/GED
100796,2014,12,Homicide,0,M,20.0,Black,100,Street,HS/GED
100797,2014,12,Homicide,0,M,22.0,Hispanic,260,Street,Less than HS
100798,2014,10,Homicide,0,M,43.0,Black,100,Other unspecified,HS/GED

In [19]:
df.value_counts("intent") / len(df)

intent
Suicide         0.626749
Homicide        0.348975
Accidental      0.016260
Undetermined    0.008006
Name: count, dtype: float64

In [18]:
df_suicides = df.query("intent == 'Suicide'").value_counts("sex")
df_suicides / df_suicides.sum()

sex
M    0.862461
F    0.137539
Name: count, dtype: float64

In [17]:
df.value_counts("intent") / len(df)

intent
Suicide         0.626749
Homicide        0.348975
Accidental      0.016260
Undetermined    0.008006
Name: count, dtype: float64

In [24]:
df_4 = df.query(
    """intent == 'Homicide' and sex == 'M' and  15 <= age <= 34"""
)
df_4.value_counts("race") / len(df_4)

race
Black                             0.661299
Hispanic                          0.178783
White                             0.140031
Asian/Pacific Islander            0.011656
Native American/Native Alaskan    0.008231
Name: count, dtype: float64

In [25]:
df_suicides = df.query("intent == 'Homicide'").value_counts("sex")
df_suicides / df_suicides.sum()

sex
M    0.847254
F    0.152746
Name: count, dtype: float64